* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

table,
th,
td {
  border: 1px solid black;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}

#container {
  width: 85%;
  margin: 30px auto;
  border: 0.1px solid black;
}

.containerHeader {
  display: grid;
  grid-template-columns: 2.2fr 0.8fr;
  grid-template-rows: 0.5fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". div3";
  width: 98%;
  margin: 0 auto;
}

.i1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "div1"
    "div2";
}

.infohead {
  background: #c4c4c4;
  text-align: left;
}

.infotable table {
  width: 100%;
  margin-bottom: 5px;
}

.infotable td, 
.infotable th {
  padding: 7px;
}

.infoTr {
  height: 2rem;
}

.infoTr .attendaceTd {
  width: 25%;
}

.infoTr td {
  background: #c4c4c4;
}

.schoolandlogo {
  display: flex;
}

.imgLogo {
  margin-right: 190px;
}

.imgLogo img {
  margin-left: 38px;
  height: 95px;
  width: 80px;
}

.schoolname {
  text-align: center;
}

.passport {
  display: flex;
}

.passport .pp-img {
  margin: 0 auto;
  border: 1px solid red;
  width: 80%;
  height: auto;
}

.div1 {
  grid-area: div1;
}

.div2 {
  grid-area: div2;
}

.div3 {
  grid-area: div3;
}

/* End of Header Styles */

.resultContainer {
    width: 100%;
    
}

.result-table {
    width: 100%;
}

.result-table th {
    padding: 10px;
    background: #c4c4c4;
}

.result-table td{
    padding: 7px;
}

.result-table tr:nth-child(even) {
    background: #FFB5C4;
}

.total-score {
    width: 100%;
}

.total-score td {
    font-size: 12px;
    padding: 7px;
}

.total-score td:nth-child(odd) {
    background: #c4c4c4;
}

.grade-table {
    width: 100%;
    border-collapse: collapse;
}

.grade-table .comment {
    font-weight: bold;
}

.grade-table td {
    text-align: center;
    border: none;
    padding: 7px;
}

.remarks td {
    padding: 7px;
}

.remarks td:first-child {
    width: 20%;
}

.remarks td:nth-child(even) {
    width: 70%;
}

.skillandbehaviour {
    width: 100%;
}

.skillandbehaviour th {
    padding: 7px;
}
/* End Result Table */

.skills-remarks {
    display: flex;
    width: 100%;
}

.behaviours {
    width: 45%;
    border-right: 1px solid #000;
}

.behaviours .behaviour-table {
  width: 90%;
  margin: 10px 20px 10px 15px;
}

.behaviour-table tr:first-child,
.skills-table tr:first-child {
  background: #c4c4c4;
}

.behaviour-table td, 
.skills-table td {
  padding: 7px;
}

.skills {
  width: 55%;
}

.skills .skills-table {
  width: 95%;
  margin: 10px 20px 0 10px;
}

.skills-description {
  border: 1px solid #000;
  width: 95%;
  margin: 0 20px 10px 10px; 
  font-style: italic;
  padding: 7px;
}




